.notesPage{
width: 85%;
}
  
.inputWrapper{
margin-top: 28px;
margin-left: 60px;
position: relative;
}

input{
text-indent: 22px;
padding: 4px;
border: 1px;
border-style: ridge;
border-color: rgb(199, 193, 193); 
}

input::placeholder{
color: rgb(199, 193, 193); 
font-weight: 600;
  }

.searchIcon{
position: absolute;
padding-top: 4px;
padding-left: 5px;
color: rgb(199, 193, 193);
font-weight: 600;
}

.subTitle{
margin-left: 60px;
margin-top: 50px;
font-size: x-large;
}

.notes{
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
}

.note textarea{
  background-color: inherit;
}

.note{
  margin-right: 30px;
  margin-bottom: 220px;
  height: 80px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  }

textarea{
  border: none;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 15px;
  outline: none;
}

.firstButton{
margin-top: 50px;
}

button{
  background: none;
}


.editAndDeleteWrapper{
  display: flex;
  justify-content: flex-end;
}

.edit,
.delete{
  margin-top: 10px;
  background-color: black;
  color: white; 
  width: 25px;
  height: 25px;
  text-align: center; 
  border-radius: 100%;
  font-weight: 600; 

}

.edit{
  margin-right: 7px;
}

.delete{
  margin-right: 15px;
}






